.projectCard {
    max-width: 30%;
    padding: 1.2rem 1rem;
    background-color: rgb(39, 39, 39);
    text-align: center;
    margin-top: 2rem;
  }
  .projectCard img {
    max-width: 100%;

    margin-bottom: 12px;
    transition: all 0.4s;
    box-shadow: rgba(0, 0, 0, 0.828) 0px 5px 15px;
  }
  .projectCard img:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 1) 5px 12px 15px;
  }
  .projectCard h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .projectCard p {
    font-size: 1.2rem;
    min-height: 8rem;
  }
  .projectCard span{display: block;
  margin: 0.5rem;
font-size: 1.2rem;
min-height: 5rem;}

  .projectCard h4{font-size: 2rem; text-decoration:2px solid white underline}
  .buttons {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }
  .buttons a{
      width: 45%;
    }
  @media screen and (max-width: 740px) {
    .projectCard {
      min-width: 100%;
    }
    .buttons a{
      width: 46%;
    }
  }
  