@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: rgb(0, 0, 0);
  color: white;
}

a {
  text-decoration: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(248,217,15);
  color: #222;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}
.btn-light{background-color: transparent;
color: white;}
.btn:hover{
  background-color: rgba(255,255,255,0.2);
  color: white;
  transition: 0.3s;
}
